$speaker-height: 50px;
$description-max-height: 150px;

.story-card {
  margin-bottom: 20px;

  .story-media {
    cursor: pointer;
  }

  .story-description {
    animation: 500ms ease 0s 1 slideDown;
    max-height: $description-max-height;
    overflow-y: auto;
    padding-right: 20px;
    text-align: justify;
  }

  .speaker {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 20px;
    
    .speaker-icon,
    .speaker-description {
      display: inline-block;
    }

    .speaker-icon {
      height: $speaker-height;
    }

    .speaker-description {
      line-height: $speaker-height;
      margin: 0;
      margin-left: 10px;
    }
  }
}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: $description-max-height;
  }
}

@media screen and (max-width: 991px) {
  .story-card {
    .story-description {
      max-height: inherit;
      overflow-y: inherit;
    }
  }
}